<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer</h1>
    <form method="post" action="/piglatinizer">
      <label><p>Enter your phrase: <input type="text" name="phrase"></p></label>
      <p><input type="submit" id="user_input"></p>
    </form>
  </body>
</html>
